html
  head
    style
      include ../css/spectre.min.css
      include ../css/spectre-exp.min.css
      include ../css/spectre-icons.min.css
    script(src='jquery-3.6.0.min.js')
    script(src='dmx_test.js')
  body
      include menu.pug

      div(class='columns')
        div(class='column col-10')
            br
            table(class='table table-striped table-hover')
              thead
                th(width='15%') Description
                th(width='15%') #channels
                th(width='10%') Action
                th(width='10%') Tested

                tbody
                each dmx in dmx_universes
                  tr
                    td=dmx.name
                    td=dmx.channels
                    td
                      div(class="form-group")
                        div(class="btn-group btn-group-block")
                          button(class="btn btn-primary ",onclick="click_action(this)", data-ip=dmx.ip,data-value=0,data-universe=dmx.universe,data-channels=dmx.channels) Off
                          button(class="btn",onclick="click_action(this)", data-ip=dmx.ip,data-value=255,data-universe=dmx.universe,data-channels=dmx.channels) On
                    td
                      label(class="form-checkbox")
                        input(type="checkbox")
                        i(class="form-icon")
